target
test-output
bin/
htmlReport/

.classpath
.project
.settings
.flattened-pom.xml
.factorypath
.DS_Store
.cursorignore

pom.xml.versionsBackup

*.log*
Snap.*
core.*
dump.*
heapdump.*
javacore.*
jitdump.*
.attach_*

.idea
*.iml

.apt_generated

*DS_Store