language: java
jdk: openjdk11
os: linux
dist: xenial
cache:
  timeout: 180
  directories:
  - "$HOME/.m2/repository"
install:
- ./scripts/install.sh
script:
- ./scripts/test.sh
before_cache:
- rm -rf $HOME/.m2/repository/org/opencds/cqf/cql/evaluator*
after_success:
- test $TRAVIS_BRANCH = "master" && test $TRAVIS_PULL_REQUEST = "false" && ./scripts/deploy.sh
deploy:
  provider: releases
  api_key:
    secure: gaSj2SrXWXtppGdzcZuzzTmA8jEr+CUZzDPL4iLs3KoVBO7/fWg0Qsvwz1ZmFbqXK+kDaIboeoTh737PN/CH45qqVn+a2SWQrujrnkaIIJ9yekJx/C4S/DYoYNouw5zpLVq5rQiifFvj3VqjAbL9Us4QMIiAGnC/kbG18ykoqQQz6amt385s4aGqKRG7TxcHiz8h0NasS32slVt+V/uKKzTIYIa6L8hszVZhMblxupFM2KX/gcW0IIjGaykNiaeEv+owgTBXxO6VrfzaoDPzji8d6Uvw/G+UoEWwrRSzpbUYciP55NdSsnWFdf6sGk9mMUP1G7LFy9Sft47j85iv6p5r2N6gvfS8sGGff7ncMce2gSNvVSMUHOx69uVffBw0WlUD8CwpZhsW1o2csvXJB9kJGCLUMp04SgEZe89GxUVuZ+jCA99cDzmyjRDUmNcd2CrmLg+IxktLTyFUXsDxxYroNpQkiNkt8+qeQGQjgCzHGUuKETOyAGdoTjpdVmDPfgyedODNgQgQnni3EeWbT6BRTRcxF5w+E2MenU5o5CpVIka4iKZGWFeu/DbfUb1zxaM4CnvThbJIEp8xPTE/VtraY5/kmr/puMeY37OTksx5/9Ps2uZQMZHzRWMwJEyMUGV+c9ovKGbEQYDfTyR3pnkQ2UxgjstjuD19YQVeJu0=
  file_glob: true
  file: "target/**/*.jar"
  skip_cleanup: true
  name: CQL Evaluator $TRAVIS_TAG
  overwrite: true
  target_commitish: $TRAVIS_COMMIT
  on:
    tags: true
notifications:
  slack:
    - rooms:
      - secure: NS0wLbgDgtmShBFpSYzi67ef/6lhFBiCw9nkJCHT+a47FXQb1l+dUk4EAd9SjpWHBO1YcL5yZ95+QaweVhKyEjAxlxJVNpAh3Yg9zskjrzfGqK5Uwz+HhcctyuzJ+GVhn4Ri+1NSqKp4uL2UvmqtrTCdwZ8r7z6s8Q7Q+Mh+JdTNpujCT3iziOL2zK20fay5kS/DX3CiA8wUKYxqWxLMlhv+L9/ZyFztuVWYJO1+J1tC27twlzVAwL/tP38m/X7WB7ITp9koWX+8+2R7mgTnCGNJrSMZH4+iNCnmcRr5m5LGbvaaK59JnhylkAN5X3+ojMN450AA1nHL+hEYfxhARoy4wQ6u9g/3qkbRSXFvCjWvSUJnVAkCNAGPR68Q415mkdnS9UJ1PdRa0HPGjuxGv3CIWmJzAuXo2TNj9NakVKyOh/TZh8OrYQifhF4sLx9DTntHaxJtfB/SWZ9Vvj92YPRC6l3YCtLrFdxisEIa4N+EYxZXiTE1bCUpoCld7h7U5q1vmBKafv8z0HhCFrR5QSXPDby3fuU7oIKX3drn3HVnyBrbkQFapYXOKHD/O71DHitgFYSMp3zpRar2niMiQm6AJVry1oAxlo/x99UiZrFRrU+PuSLT9vzasfTf88HuYihcfDBF0HMOUmXRVR/ORdqS8AHn0r/9FprqDDTRK9Q=
      on_success: always
      on_failure: never
    - rooms:
      - secure: P6dxCL+vydKFJmpS0K3GeXHjL5Gyy75qCfLa1kEa/bzerDOOsjL/g0XcsKE0YNsmJlPGTHXxRbYJWEf2eZAFYZll38Se26j4IwqP4oeO5VKUhVYNfQYkgC2pu4y5F10sjcJxq4krSvnYGiEZNxgIKxu9ZOz1/kVQCRRA8ixJo1AutFTMvYvoRGPA5K6QPkqhyqsK2dOQnxhxKdq+oAgxOOPeB43zWlGTFtIqhySnF0xGT3Im25+J4GlV0++TcIwDxV7k05krSPKeoo9mvsMLv5KXU5MkFRvSSCST0ag9rBDUJuP2Gy1CCt/xmu4B3mLAF1Np7LVhGJGiH6BCbkI+CKogXjYJg4DIkzxXquthstzq3Z9JHVcZ94Y1TrpWmgPhVNtUfSISPLMD/8lBI/Gr3gXTdFGMJr5vVo/ch04dvyklVnzx49RbvSJ8FLX0QmqfCIyP7NLS9B/ooXas9L/Ufo6Z9qd6f2QRJGY4rJYQ+nQ1wjJP7bHYEbf/hbfU2YHs8ChJM/zu/JdNSw/a7KhtLVj29z/IsAVEsYlEvagrI3TfPGXyz6YGeoGWuUjGjTZOVXy+D1VrH6dNqnXcTWXeySHrc7vDEO+GCT69xHhoxAUDtP/qFdfjRgaXGVAjZpvCgUkT5tfc8cIfEV35vfHcgsC41ggVgHxXhV/50pDj4sY=
      on_success: never
      on_failure: always