name: Build
on:
  push:
    branches:
      - master

permissions:
  contents: write
  checks: write

concurrency:
    group: ${{ github.head_ref || github.run_id }}
    cancel-in-progress: true

jobs:
  maven:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
            path: ~/.fhir
            key: ${{ runner.os }}-fhir-${{ hashFiles('**/*.*') }}
            restore-keys: |
              ${{ runner.os }}-fhir-
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
          server-id: central
          server-url: https://repo1.maven.org/maven2
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
      - name: Publish snapshot
        run: ./mvnw --batch-mode -no-transfer-progress --update-snapshots deploy -Ppackage
        env:
          MAVEN_USERNAME: ${{ vars.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
      - name: Publish test report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: "**/target/surefire-reports/TEST-*.xml"
          job_name: "Build"
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - run: pip install -r requirements.txt
        working-directory: ./docs/src/doc
      - run: mkdocs gh-deploy --force
        working-directory: ./docs/src/doc
