name: Check PR
on:
    pull_request:
      types: [opened, reopened, synchronize]
  
permissions:
    checks: write

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  gradle:
    strategy:
        matrix:
          os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Cache FHIR packages
        uses: actions/cache@v4
        with:
          path: ~/.fhir
          key: ${{ runner.os }}-fhir-${{ hashFiles('**/*.*') }}
          restore-keys: |
            ${{ runner.os }}-fhir-
      - name: Cache SonarQube packages
        uses: actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - uses: actions/setup-java@v4
        with:
            distribution: 'temurin'
            java-version: '21'
            cache: 'gradle'
      # Skip spotlessCheck since it is checked in a separate workflow
      - name: Compile
        run: ./gradlew compileJava compileTestJava -x spotlessCheck
      # Linux does full check including SonarQube, Windows only runs tests
      - name: Tests and additional checks (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: ./gradlew check sonar -x spotlessCheck
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: Tests and additional checks (Windows)
        if: matrix.os == 'windows-latest'
        run: ./gradlew test -x spotlessCheck
      - name: Publish test report
        uses: mikepenz/action-junit-report@v4
        if: (success() || failure()) && matrix.os == 'ubuntu-latest'
        with:
          report_paths: "**/build/test-results/test/TEST-*.xml"
          job_name: "Check PR"
