name: Compile against CDR Clinical Reasoning
on:
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:
    inputs:
      cdr_cr_branch:
        description: 'CDR-CR Branch to Compile Against'
        default: 'main'
        required: true
        type: string

jobs:
  compile-against-cdr-cr:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      name: Checkout
    - name: Install poetry
      run: pipx install poetry
    - name: Setup Python
      uses: actions/setup-python@57ded4d7d5e986d7296eab16560982c6dd7c923b # v4.6.0
      with:
        python-version: '3.10'
    - run: poetry install
      name: Install Dependencies
      working-directory: ./.github/workflows/cdr_cr_check
    - run: poetry run python trigger_and_poll_gitlab.py
      name: Execute Poller
      working-directory: ./.github/workflows/cdr_cr_check
      env:
        TRIGGER_TOKEN: ${{ secrets.GITLAB_TRIGGER_TOKEN }}
        READ_API_TOKEN: ${{ secrets.GITLAB_READ_API_TOKEN_V2 }}
        CLINICAL_REASONING_BRANCH: ${{ github.head_ref || github.ref_name }}
        # When run via the manual run, this will be set. When run in a PR, it will be blank.
        CDR_CR_BRANCH: ${{ inputs.cdr_cr_branch }}
